body {
    background-color: #ebebeb;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #2b2a2a;
    width: 750px;
    margin: auto;
  }
  h2 {
    color: #245ed1;
  }
  .header_top > h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 65px;
    color: #245ed1;
  }
  .header_top {
    color: #585858;
  }
  .header_top > img {
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 20px;
  }
  em {
    color: #faae22;
    font-style: normal;
    font-weight: bold;
  }
  b {
    color: #faae22;
  }
  a {
    color: rgb(37, 124, 182);
  }
  img {
    width: 100px;
  }
 